select {
  border: none;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}

select:hover {
  background-color: rgb(245, 244, 242);
}

main {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  font-weight: 400;
}

.container {
  height: 90vh;
  overflow-y: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
}
.chat-started {
  min-height: 90vh;
}
.chat-area {
  display: flex;
  width: 700px;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto 20px;
  gap: 10px;
  flex: 1;
  overflow-y: auto;
  height: 400px;
}
.chat-area::-webkit-scrollbar {
  /*x non far vedere la barra di scorrimento*/
  display: none;
}

.msg-user {
  align-self: flex-end;
  background-color: rgb(245, 244, 242);
  padding: 10px 14px;
  border-radius: 16px;
  max-width: 70%;
}
.msg-bot {
  align-self: flex-start;
}

.input-completo {
  margin: 0 auto;
  width: 700px;
  display: flex;
  position: sticky;
  bottom: 20px;
}
.aggiungi {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: white;
}
.aggiungi:hover {
  background-color: rgb(248, 246, 244);
  cursor: pointer;
}

.chat-input {
  height: 50px;
  width: 500vh;
  padding-left: 50px;
  padding-right: 20px;
  border-radius: 50px;
  border: solid 1px rgb(207, 202, 202);
  box-sizing: border-box;
}

.detta {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  width: 45px;
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 50%;

  align-items: center;
  background-color: white;
}
.detta:hover {
  background-color: rgb(248, 246, 244);
  cursor: pointer;
}

.assistente-vocale {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.img-assistenteVocale {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 768px) {
}
